@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

    <ul class="navbar-nav">
        @if (ViewBag.Name != null)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="NguoiDung" asp-action="Register"> @ViewBag.Name</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="NguoiDung" asp-action="Login">Đăng Xuất</a>
            </li>
        }
        else
        {
            
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="NguoiDung" asp-action="Login">Đăng Nhập</a>
            </li>
        }
    </ul>
