@model CleanArchitecture.Application.ViewModels.CTNhapHangViewModel

@{
    ViewData["Title"] = "CreateCTHD";
}

<h1>Thêm</h1>

<h4>Chi tiết Nhập Hàng</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateCTHD">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label  class="control-label">Xe</label>
                <select asp-for="Idxe" class ="form-control" asp-items="@(new SelectList(ViewBag.Xe,"Id","Ten"))"></select>
            </div>
            <div class="form-group">
                <label  class="control-label">Số Lượng</label>
                <input asp-for="Soluong" class="form-control" />
                <span asp-validation-for="Soluong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Thêm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Quay Lại</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
